

$yellow : #FEDA6A;
$white  : #FFFFFF;
$dark1  : #3A3335;
$dark2  : #454851;
$grey   : #3a3335;

$navbar-width: 250px;

body {
	background-color: $dark2;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}


.container {
	display: flex;
}

.editor {
	flex: 6;
	background-color: $dark1;
}

.navbar {
	flex: 2;
	height: 100%;
	left: 0;
	width: $navbar-width;
	background-color: $dark2;
}

.navbar-header {
	font-family: 'Cutive Mono', monospace;
	font-size: 40px;
	padding: 10px;
}

.navbar-list {
	.item {
		text-transform: uppercase;
		padding: 5px;

		transition-property: background;
		transition-duration: 1s;
		transition-timing-function: linear;
	}
	.item:hover {
		background: $grey;
	}
}